body {
  background: $body-bg;
  background-attachment: fixed;

  &:after {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 100%;
    height: 100%;
    background: $body-bg;
    filter: blur($blur);
  }
}

.accent {
  &-color {
    color: $accent-color;
  }
  &-background {
    background: $accent-color;
  }
}

.server-info {
  background: $bg-1st;
  color: $color-1st;
}

.server-tracker {
  text-align: center;
}

.server-players-list {
  display: flex;
  flex-flow: row wrap;
  list-style: decimal;
  justify-content: center;

    li {
      flex-basis: 33.33%;
    }
}

article {
  margin: 15px auto;
  padding: 15px;
  background: $bg-1st;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.75);
  color: $color-1st;
}

.news-title {
  margin: 5px -5px;
  font-size: 1.3rem;
  color: darken($accent-color, 10%);
}

.map-title,
.item-title,
.item-image {
  text-align: center;

  &:not(.item-image) {
    padding: 6px;
    background: rgba(0, 0, 0, 0.5);
  }
}

.page-title {
  display: block;
  letter-spacing: 1px;
  text-align: center;
}

.item-about {
  margin: 5px;
  padding: 0;
  list-style: none;
}

.item-attr {
  margin: 5px 0;
}

.item-desc {
  color: darken($color-1st, 20%);

  &-title {
    font-weight: 700;

    &:after {
      content: "\00a0";
    }
  }
}

.image-type {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.image-address {
  position: relative;
}

.clipboard-copy {
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
}

.faq {
  display: flex;
  justify-content: center;

  ol {
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    margin: 0 auto;
    width: 85%;
    font-size: 22px;
  }

  ol > li {
    position: relative;
    margin-top: 15px;
  }

  ul {
    list-style: none;

    &:before {
      position: absolute;
      left: -3.25em;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      content: counter(li) '.';
      counter-increment: li;
      height: 35px;
      width: 35px;
      font-weight: 900;
      border: 2px solid $accent-color;
      background: #555;
      text-align: center;
      color: #eee;

      @include media-breakpoint-down(sm) {
        left: -2.55em;
      }
    }
  }

  ul, ol {
    padding: 0;
  }

  li {
    font-size: 15px;
    color: darken($color-1st, 25%);
    font-weight: 700;

    li {
      color: $color-1st;
      font-weight: 400;
      margin-top: 5px;
    }
  }
}
/* WOOOOOORK GIT*/
